<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:pattern {"slug":"coltonpomeroy/hero-home"} /-->
	<!-- wp:pattern {"slug":"coltonpomeroy/services-grid"} /-->
	<!-- wp:pattern {"slug":"coltonpomeroy/featured-posts"} /-->
	<!-- wp:pattern {"slug":"coltonpomeroy/stats-row"} /-->
	<!-- wp:pattern {"slug":"coltonpomeroy/cta-banner"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
